* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  width: 1660px;
  margin: 0px auto;
}

.title {
  display: flex;
  flex-direction: column;
}

.underline {
  border: 1px solid black;
}

.menu-filter {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  width: 400px;
  justify-content: space-between;
}

.filter {
  border: 1px solid lightslategray;
  padding: 5px;
  font-weight: 700;
  color: lightseagreen;
  cursor: pointer;
}

.menu-item {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
  margin-bottom: 40px;
  border: 2px solid black;
}

.image {
  display: block;
  width: 300px;
  height: 200px;
  border: 3px solid darkcyan;
}

.menu-title {
  width: 430px;
}

.menu-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price {
  font-weight: 600;
}
